@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,900&display=swap');

/*
  D80CE8
  A30CF2
  5601DB main
  260CF2
  0C2EE8
*/
/* base */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all .5s;

}

:link, :visited {
    text-decoration: none;
}
/* component */
.logo {
    color: #D80CE8;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    text-shadow: 1px 0 white, 0 -1px white, 0 1px white, -1px 0 white;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.navigation a {
    color: #ccc;
    font-weight: 500;
    font-size: 1.1em;
}

.navigation a:hover {
    color: #D80CE8;
}
/* the main section */
.main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top right, #aaa, #fff);
}

.main>div {
    display: flex;
    flex-direction: column;
}

.main h2 {
    font-size: 1.1em;
    font-weight: 500;

}

.main h2 span {
    display: inline-block;
    font-size: 3em;
    font-weight: 600;
    color: #0C2EE8;
}
/* style the quote */
.main h3 {
    font-size: 2em;
    font-weight: 700;
    margin-top: 15px;
    letter-spacing: 5px;
}
.main h3 span{
    color:#5601DB;
}
/* style the view work button */
.btn {
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    background-color: #0C2EE8;
    padding: 15px;
    border-radius: 20px;
    align-self: flex-end;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: #260CF2;
    transform: scale(1.1);
}
.social-icons{
    align-self: flex-end;
}
.social-icons a{
    color:#0C2EE8;
    font-size:2em;
    padding:5px;
}
.social-icons a:hover{
    color:#260CF2;
}
/* modules */
header {
    background-color: #0C2EE8;
    width: 100%;
    position: sticky;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 150px;
    min-height: 10vh;
}

section {
    padding: 20px 150px;
}