* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight: 600;
}
body {
    font-family: poppins;
}

a:link {
    color: #fff;
}

a:visited {
    color: #999;
}

a {
    text-decoration: none;
}

.nav-container {
    position:sticky;
    top:0;  
    background-color: #222;
}
.nav-bar {
    list-style-type: none;
    text-align: center;
}

ul.nav-bar a {
    display: block;
    padding:10px
}

ul.nav-bar a:hover {
    background-color:#3100F5;
    color:#F5DA00;
}
.active a {
    background-color: #F5DA00;
    color:#3100F5;
}

@media screen and (min-width:510px) {
    ul.nav-bar li {
        display: inline-block;
    }
}

@media screen and (min-width:800px) {
    .nav-container {
        width:25%;
        float: left;
        height: 200vh;
        margin-right: 10px;
    }
    ul.nav-bar li {
        display: block;
        
    }
}

.main-header {
    width:100%;
    height:75vh;
    color:#3100F5;
    background-color: #3100F5;
    background-image: url(/assets/images/intro.jpg);
    background-size: cover;
    background-origin: padding-box;
    background-position: bottom;
    overflow: hidden;
}

h1.tooltip {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 5px #F5DA00, 0 0 10px #3100F5;
}

h1 .tooltip-text{
    position: absolute;
    top: 100%;
    left: 0;
    font-size: medium;
    visibility: hidden;
    background-color: #F5DA00;
    border-radius: 20px;
    padding: 0 10px;
    transition: opacity 1s;
    opacity: 0;
}
h1.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}