@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,900&display=swap');

/* base */
:root {
    --main-clr: #222;
    --dark-main-clr: #000;
    --secondary-clr: #E82334;
    --handle-clr: #233DE8;
    --mood1-clr: #00E836;
    --mood2-clr: #E8BA23;
    --mood3-clr: #0C2EE8;
    --off-white: #999;
    --white: #fff;
    --black: #111;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all .5s;
    outline: none;
}

:link, :visited {
    text-decoration: none;
}

/* component */
.logo {
    color: var(--secondary-clr);
    font-variant: small-caps;
    font-weight: 800;
    font-size: 2.5em;
    text-shadow: 1px 0 white, 0 -1px white, 0 1px white, -1px 0 white;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.navigation a {
    color: var(--white);
    font-weight: 500;
    font-size: 1.1em;
}

.navigation a:hover {
    color: var(--secondary-clr);
}

/* the main section */
.main {
    width: 100%;
    min-height: 92vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to top right, var(--off-white), var(--white));
}

.main>div {
    display: flex;
    flex-direction: column;
}

.main h2 {
    font-size: 1.1em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    font-size: 3em;
    font-weight: 600;
    color: var(--handle-clr);
}

/* style the quote */
.main h3 {
    font-size: 2em;
    font-weight: 700;
    margin-top: 15px;
    letter-spacing: 5px;
}

.main h3 span {
    color: var(--secondary-clr);
}

/* style the view work button */
.btn {
    display: inline-block;
    margin-top: 15px;
    color: var(--white);
    background-color: var(--secondary-clr);
    padding: 15px;
    border-radius: 20px;
    align-self: flex-end;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: var(--handle-clr);
    transform: scale(1.1);
}

.social-icons {
    align-self: flex-end;
}

.social-icons a {
    color: var(--secondary-clr);
    font-size: 2em;
    padding: 5px;
}

.social-icons a:hover {
    color: var(--handle-clr);
}

/* the services section */
.cards {
    background: linear-gradient(to right top, var(--main-clr), var(--dark-main-clr));
    min-height: 100vh;
}

.title {
    text-align: center;
    color: var(--white);
    font-weight: 800;
    font-size: 2em;
    margin-bottom: 30px;
    margin-top: 60px;
    text-shadow: 1px 0 white, 0 -1px white, 0 1px white, -1px 0 white;
}

.title-blu {
    color: var(--main-clr);
}

.title-red {
    color: var(--secondary-clr);
}

/* the cards */
.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1.8em;
}

/* the individual card */
.card {
    background: var(--main-clr);
    width: 30%;
    border-radius: 10px;
    color: var(--white);
    box-shadow: 0 0 25px #00000099;
    padding: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    color: var(--secondary-clr);
    font-size: 8em;
    text-align: center;
    text-shadow: 1px 0 white, 0 -1px white, 0 1px white, -1px 0 white;
}

.info {
    text-align: center;
}

.info h3 {
    font-size: 1.3em;
    font-weight: 700;
    margin: 10px;
    color: var(--secondary-clr);
}

/* projects */
.projects {
    background-image: linear-gradient(to bottom right, var(--main-clr), var(--dark-main-clr));
}

.project-card {
    background: var(--white);
    overflow: hidden;
    width: 30%;
    min-height: 14em;
    border: 1px solid var(--white);
    border-radius: 5px;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card:hover .project-image {
    opacity: .9;
}

.project-image img {
    width: 100%;
    height: auto;
}

.project-category {
    font-size: 0.8em;
}

.project-title {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    margin-top: 10px;
    color: var(--main-clr);
}

.project-info {
    padding: 1em;
}

.more-details {
    color: var(--secondary-clr);
}

.more-details:hover {
    color: var(--handle-clr);
}

/* the skills section */
.skills {
    background: linear-gradient(to top right, var(--main-clr), var(--dark-main-clr));
    color: var(--white);
}

.skills li {
    display: flex;
    align-items: center;
}

.skills li :nth-child(2) {
    width: 100%;
}

.bar {
    display: block;
    background: var(--main-clr);
    height: 2px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--secondary-clr);
    margin-top: 10px;
}

.bar span {
    height: 2px;
    float: left;
    background-color: var(--secondary-clr);
}

.html {
    width: 95%;
}

.css {
    width: 90%;
}

.javascript {
    width: 50%;
}

.bootstrap {
    width: 85%;
}

.sass {
    width: 90%;
}

.skills-icon {
    font-size: 6em;
    width: 25%;
}

.skills li:hover .skills-icon {
    transform: scale(1.4);
}

/* the contact section */
.contact {
    background:linear-gradient(to bottom right,var(--main-clr),var(--dark-main-clr));
    min-height: 84vh;
}

.contact .card {
    width: 40%;
}

.contact .icon {
    font-size: 5em;
}

.contact h3 {
    color: var(--white);
}

.contact p {
    color: var(--off-white);
    font-size: 1.5em;
    word-wrap: break-word;
}

/* copyright */
.copyright {
    color: #233DE8;
    font-size: 1.3em;
}

footer span {
    color: var(--secondary-clr);
}

footer .social-icons a {
    font-size: 1.5em;
}

/* modules */
header {
    background-color: var(--main-clr);
    width: 100%;
    position: sticky;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    min-height: 8vh;
    top: 0;
}

section {
    padding: 20px 150px;
    min-height: 100vh;
}

footer {
    padding: 2em;
    background: var(--black);
    display: flex;
    justify-content: space-between;
}

/* media query */
@media screen and (max-width:1023px) {
    body {
        font-size: 14px;
    }

    header {
        padding: 0 20px;
        min-height: 5vh;
    }

    section {
        padding: 20px 20px;
    }

    .main {
        min-height: 95vh;
    }

    .contact {
        min-height: 90vh;
    }

    .card, .project-card {
        width: 45%;
    }
}

@media screen and (max-width:767px) {
    body {
        font-size: 12px;
    }

    .info h3 {
        font-size: 1.4em;
    }

    .card, .project-card {
        width: 95%;
    }

    .contact .card {
        width: 90%;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    header {
        flex-direction: column;
    }

    .navigation {
        width: 70%;
    }

    .skills li {
        flex-direction: column;
        margin-bottom: 2em;
    }
}

@media screen and (max-width:300px) {
    body {
        font-size: 10px;
    }


    .navigation {
        width: 80%;
    }
}